body{
    background-color: #f4f4f4;
}

.container.principal-container{
    background-color: #FFF;
    min-height: 800px;
    padding-top: 30px;
    box-shadow: 0px 0px 10px 1px rgba(153, 115, 115, 0.4);

}

.navbar-default{
    background-color: #000;
    background-image: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand{
    color: #FFF;
    transition: 300ms;
}

.navbar-default .navbar-brand:hover{
    color: #000;
    background-color: #fff; 
}

#cadastroClientes{
    margin-top: 30px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
}

#cadastroClientes div{
    height: 50px;
}

#cadastroClientes input{
    background: none;
    border: none;
    border-bottom: 2px solid #828282;
    width: 90%;
    outline: none;
    position: absolute;
    bottom: 0;
    z-index: 2;
}

#cadastroClientes select{
    position: absolute;
    width: 90%;
    bottom: 0;
}

#cadastroClientes label{
    position: absolute;
    bottom: 0;
    color: #828282;
    transition: 300ms;
    margin-left: 10px;
}

#cadastroClientes input:focus ~ label{
    bottom: 22px;
    margin: 0;
    font-size: 12px;
}

#cadastroClientes input:valid ~ label{
    bottom: 22px;
    margin: 0;
    font-size: 12px;    
}

#cadastroClientes .btn{
    text-align: center;
    margin: 30px 0;
}

#cadastroClientes .btn button{
    height: 50px;
    width: 300px;
    border-radius: 100px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(135deg, #dc00e8 0%,#00adf2 100%);
    outline: none;
    transition: 300ms;
    
}

#cadastroClientes .btn button:hover{
    background: linear-gradient(135deg, #00adf2  0%,#dc00e8 100%);
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.5);
}